html {
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFFFFF;
	font-family: 'Saira', sans-serif;
	font-weight: 600;
	text-align: center;
	color: #212121;
	margin: 0;
	padding: 0;
}

div {
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.row {
	margin-bottom: 30px;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.card {
	display: inline-block;
	margin-left: 2.5%;
	width: 16%;
	font-size: 30px;
	line-height: 120px;
	text-transform: uppercase;
	border-radius: 10px;
	border-width: 4px;
	border-style: solid;
}

.card:first-child {
	margin-left: 0;
}

.team-indicator {
	margin: 0 auto;
	width: 50%;
	font-size: 30px;
	line-height: 50px;
	border: 2px solid #BDBDBD;
	border-radius: 10px;
}

.blue-team.card {
	border-color: #2196F3;	
}

.red-team.card {
	border-color: #FF5252;
}

.assassin.card {
	border-color: #000000;
}

.civilian.card {
	border-color: #d3caa0;
}

.blue-team.selected {
	background-color: #2196F3;
}

.red-team.selected {
	background-color: #FF5252;
}

.civilian.selected {
	background-color: #d3caa0;
}

.assassin.selected {
	background-color: #212121;
	color: #FFFFFF;
}